* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
}

header {
    /* min-height: 150px;
    max-height: 15vh; */
    padding:1rem;
    background:lightskyblue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header h2 {
    font-size: 45px;
}

main .section-1 {
    min-height: 800px;
    max-height: 80vh;
    background-image: url("./images/image3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 3.5rem;
}

.section-1 h1{
    font-size: 80px;
    text-align: center;
    color: snow;
    margin-top: 25px;
}

.section-1 p {
    font-size: 40px;
    color: snow;
    text-align: center;
    width: 100%;
    max-width: 850px;
    margin: 15px auto 0 auto;
    line-height: 35px;

}

.section-2 {
    background-color:steelblue;
    position: relative;
    /* min-height: 450px;
    max-height: 50vh; */
    padding: 3.5rem;
}

.section-2 h2, .section-3 h2, .section-4 h2 {
    font-size: 55px;
    text-align: center;
    color:rgb(219, 182, 134);
    font-weight: 600;
}

.section-2 p {
    font-size: 30px;
    color: snow;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
}

.section-3 {
    background-color: #2E2E2E;
    position: relative;
    top: -5px;
    padding: 3rem;
}

.section-3 h2 {
    font-size: 55px;
    text-align: center;
    color:tan;
    font-weight: 600;
}

.section-3 .valores {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    margin: 1.5rem auto;
}

.cada-valor {
    /* background: green; */
    margin: 0 auto;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
}

.cada-valor h3, .cada-valor p{
    text-align: center;
    color: snow;
}

.cada-valor p {
    font-size: 20px;
}

.cada-valor h3 {
    font-size: 35px;
}

.cada-valor .img {
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: snow ;
    width: 100%;
    max-width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 100px;
}

.cada-valor .img-1{
    background-image: url("./images/life-insurance.svg");
}

.cada-valor .img-2{
    background-image: url("./images/care.svg");
}

.cada-valor .img-3 {
    background-image: url("./images/Group.svg");
}

.cada-valor .img-4{
    background-image: url("./images/RescueDog.svg");
}

.section-4 {
    background: snow;
}

.section-4 .lobo-1, .section-4 .lobo-2{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    width: 100%;
    max-width: 1100px;
    margin: 1rem auto;
}

.section-4 .container-img {
    width: 50%;
    background: steelblue;
    border: 3px solid #2E2E2E;
}


.section-4 .lobo-1 {
    flex-flow: row;
}

.section-4 .lobo-1 img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    top: 25px;
    left: 25px;
    /* box-shadow: -25px -25px 0 0 steelblue;
    border: 1px solid black; */
}
.section-4 .lobo-2 {
    flex-flow: row-reverse;
    margin-bottom: 5rem;
}

.section-4 .lobo-2 img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    bottom: 25px;
    right: 25px;
    /* box-shadow: 25px 25px 0 0 steelblue;
    border: 1px solid black; */
}

.lobo-2 .infos-2, .lobo-1 .infos-1 {
    width: 100%;
    max-width: 600px;
    text-align: left;
    margin: 0 1.5rem;
    padding: 0.8rem;
    justify-self: flex-start;
}

.lobo-1 p {
    font-size: 20px;
    width: 100%;
    text-align: justify;
    margin: 15px 35px;
}

.lobo-2 p {
    font-size: 20px;
    width: 100%;
    text-align: justify;
    margin: 15px -35px;
}

.lobo-1 h3 {
    font-size: 35px;
    margin: 0 35px;
}

.lobo-2 h3 {
    font-size: 35px;
    margin: 0 -35px;
}

.lobo-1 span {
    font-size: 18px;
    margin: 0 35px;
}

.lobo-2 span {
    font-size: 18px;
    margin: 0 -35px;
}

footer {
    background: #2E2E2E;
    display: flex;
    justify-content: space-evenly;
    border-top: 4px solid tan;
}

footer .container-mapa {
    display: flex;
    margin: 2rem;
}

.container-mapa .mapouter {
    margin: 1.5rem;
}

.container-mapa ul {
    color: snow;
    margin: 3rem;
    padding: 0.8rem;
    font-size: 25px;
}

.container-mapa ul li {
    margin-top: 1rem;

}

.container-mapa ul button {
    background: tan;
    color: black;
    font-size: 25px;
    font-weight: 600;
    margin-top: 1rem;
    width :25%;
}

.carinho {
    margin: 3rem;
    align-self: center;
    text-align: center;
}

.carinho figcaption {
    margin-bottom: 1rem;
    color: snow;
    font-size: 25px;
}